## Operators

In [1]:
2+2

4

In [2]:
3**2

9

In [10]:
92/9

10.222222222222221

In [9]:
92//9

10

In [11]:
23+12-33+23*22

508

## Data Types

In [12]:
type(3)

int

In [13]:
type(2.3)

float

In [15]:
type('Hi')

str

In [21]:
type("Hello89")

str

In [17]:
type('89')

str

In [29]:
type(True)

bool

In [20]:
"Hello" + " Guys"   #It will counted space

'Hello Guys'

In [19]:
'Hi' + 'siya'

'Hisiya'

In [22]:
3+'Students'    #string value will calculate only with string value

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
'3 ' + 'Students'

'3 Students'

In [26]:
3*" Students"

' Students Students Students'

In [28]:
10.9 + "Students"      #string can not calculate with float value

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [30]:
"Hi your name is garima" + True

TypeError: can only concatenate str (not "bool") to str

## Variable

In [31]:
val=39

In [32]:
val

39

In [33]:
val="hello"

In [34]:
val

'hello'

In [35]:
val 1=30

SyntaxError: invalid syntax (Temp/ipykernel_9124/2613353766.py, line 1)

In [37]:
val1=80
val1

80

In [38]:
1val=80

SyntaxError: invalid syntax (Temp/ipykernel_9124/366835670.py, line 1)

In [39]:
val-1=88

SyntaxError: cannot assign to operator (Temp/ipykernel_9124/2487487600.py, line 1)

In [40]:
#Variable name can not start with number , should not any special value and should not spaces

In [41]:
coin=78
Coin=90
coin         #case sensitive

78

In [42]:
Coin

90

In [7]:
print("Hi There")
print('Enter Your Name?')
firstName=input()
firstNameLength=len(firstName)

print('Enter Your Last Name?')
lastName=input()
lastNameLength=len(lastName)

if(firstNameLength>lastNameLength):
    print("Your firstName is Greter than lastName")
    
elif(firstNameLength<lastNameLength):
    print("Your firstName is Less than lastName")
    
else:
    print("Length of your firstName and lastName") 
    print("Amazing name ")

Hi There
Enter Your Name?
Snehal
Enter Your Last Name?
sharma
Length of your firstName and lastName
Amazing name

## Flow control Statement

In [1]:
x = 3           # assigned 3 to x

In [2]:
x == 3        # will check the value of x is 3 or not

True

In [3]:
'hello'='hi'

SyntaxError: cannot assign to literal (Temp/ipykernel_2372/2312755463.py, line 1)

In [4]:
'hello'=='hi'

False

In [7]:
'hello'=='hello'

True

In [8]:
3.2==9.8

False

In [9]:
3.9<9.8

True

In [10]:
(7>8) and (3<9)

False

In [11]:
(7>8)or(3<9)

True

In [12]:
not (7>9) or (2<8)

True

In [6]:
name='Robin Hood'
age=10
if name == 'Robin Hood':
    print('Hello Robin!')
    print('Good to see you!')
    if age <18:
        print("You are kid")
elif age < 30:
    print('you are pretty young !')
else:
    print('Hello stranger')

Hello Robin!
Good to see you!
You are kid

## Loops

### While Loop

In [1]:
''' 
while condistion/expression
    block of code line1
    block of code line2
'''

' \nwhile condistion/expression\n    block of code line1\n    block of code line2\n'

In [4]:
coins=0

while coins < 10:
    print("you have "+str(coins) + ' coins')
    coins=coins+1
print('Good Bye!!!')

you have 0 coins
you have 1 coins
you have 2 coins
you have 3 coins
you have 4 coins
you have 5 coins
you have 6 coins
you have 7 coins
you have 8 coins
you have 9 coins
Good Bye!!!

In [5]:
name = ''

while name !='techTFQ':
    print('what is your name?')
    name = input()
print('Hello techTEQ!!!!')

what is your name?
Shital
what is your name?
gita
what is your name?
techTFQ
Hello techTEQ!!!!

In [9]:
while True:
    print('what is your name?')
    name = input()
    if name == 'techTEQ':
        break
print('Hello techTEQ!!!!')

what is your name?
neha
what is your name?
jaya
what is your name?
techTEQ
Hello techTEQ!!!!

In [11]:
while True:
    print('what is your name?')
    name = input()
    if name != 'techTEQ':
        continue
    print('Enter your password:')
    pwd = input()
    if pwd == 'Admin':
        break
print('Welcome techTEQ!!!!')

what is your name?
shrusti
what is your name?
techTEQ
Enter your password:
hjsid
what is your name?
techTEQ
Enter your password:
Admin
Welcome techTEQ!!!!

## For Loop

In [15]:
for i in range(1,10,2):
    print("Current value is --> ",i)

Current value is -->  1
Current value is -->  3
Current value is -->  5
Current value is -->  7
Current value is -->  9

In [17]:
data = 'hello'

for value in data:
    print('Curent value is -->',value)

Curent value is --> h
Curent value is --> e
Curent value is --> l
Curent value is --> l
Curent value is --> o

In [18]:
#data = 'hello'
data = ['C','C++','Java','Python','SQL']
for value in data:
    print('Curent value is -->',value)

Curent value is --> C
Curent value is --> C++
Curent value is --> Java
Curent value is --> Python
Curent value is --> SQL

In [19]:
data = ['C','C++','Java','Python','SQL']
for value in data:
    print('Curent value is -->',value)
    if value == 'Python':
        print('We are learnig Python!')
        break

Curent value is --> C
Curent value is --> C++
Curent value is --> Java
Curent value is --> Python
We are learnig Python!

## Import Module

In [62]:
def countvowels(data):
    cnt = 0
    for i in data:
        if i.upper() in ('A','E','I','O','U'):
            cnt += 1
    return cnt
print(countvowels("EIha"))

3

In [63]:
import datetime, random as rn
import sys
import webbrowser as wb
print("Today's date is",datetime.date.today())
#sys.exit()
print("Random Number",rn.randint(1,10))

#wb.open('www.google.com')
name = input('Enter a name ')
print('No of vowels are: ',countvowels(name))

Today's date is 2022-10-02
Random Number 9
Enter a name Neesha
No of vowels are:  3

## Functions

In [73]:
def learnFunc(name):
    print('Function is invoked.')
    return name
print('Hello',learnFunc('Alka'),"... we are learning Python. ")

learnFunc('Aswar')

Function is invoked.
Hello Alka ... we are learning Python.
Function is invoked.

'Aswar'

In [77]:
def countvowels(data):
    cnt = 0
    for i in data:
        if i.upper() in ('A','E','I','O','U'):
            cnt += 1
    return cnt

name = input("What is your name? ")
result = countvowels(name)

print("Vowel characters in your name are ", result)

What is your name? Alka
Vowel characters in your name are  2

## Local and Global Scope

In [80]:
a = 'global'
def test():
    a = 'local'
test()
print(a)    
#Local variable can not be accessed by global variable

global

In [87]:
def test1():
    a = 'local test1'
    print(a)

def test2():
         a = 'local test2'
         print(a)

def test3():
    test1()
    test2()
    a = 'local test3'
    print(a)
    
a = 'global'
test3()
print(a)

local test1
local test2
local test3
global

In [88]:
a = 'global'
def test():
    global a
    a = 'local'

print(a)
test()
print(a)

global
local